body {
	overflow-x: hidden;
}

.-video_playing {
 	transform: scale(1.1, 1.05);
 	z-index: 4444;
}

video, iframe {
	width: 100%;
}

.-pv-list {
	margin-bottom: 400px;
}

#pills-tab {
	z-index: 9999;
}

.-pv-list .card-img-top {
	height: auto;
}

.card-body .dropdown-item span{
	margin-left: 5px;
}

.-header{
	height: 100px;
	margin-bottom: 300px;
}