body {
	overflow-x: hidden;
}

.-video_playing {
 	transform: scale(1.1, 1.05);
 	z-index: 4444;
}

#mask{ width:100%; height:100%; display: none; position: fixed; left:0; top:0; background:rgba(0,0,0,0.95); z-index:2222;}

video, iframe {
	width: 100%;
}

.-pv-list {
	margin-bottom: 400px;
}

#pills-tab {
	z-index: 9999;
}

.-pv-list .card-img-top {
	height: auto;
}

.card-body .dropdown-item span{
	margin-left: 5px;
}

.-header{
	/*height: 100px;*/
	margin-bottom: 300px;
}

#btn_toTop {
	z-index: 9999;
	position: fixed;
	bottom: 45px;
	right: 15px !important;
}

#_pointer {
 	height: 30px;
 	width: 100%;
    position: fixed;
    margin: auto;
    left: 0;
    top:0;
    right: 0;
    bottom: 0;	
}